.contain {
  background-image: url(Components/Images/fang-wei-lin-H1IRUS1vEFA-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  filter: blur(0.5);
  color: #29c722;
}

header {
  background-color: rgba(211, 211, 211, 0.8588235294);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
header > * {
  padding: 15px;
  cursor: pointer;
}
header h1 {
  margin: 0;
}
header > input {
  display: none !important;
}
header i {
  font-size: 32px;
  display: none;
}
header nav ul {
  display: flex;
}
header nav ul li {
  cursor: pointer;
  padding: 9px 20px;
  text-decoration: none;
  color: #1d9818;
  font-weight: bold;
}
header nav ul li .BoxNumber {
  color: red;
  border: 1px solid;
  border-radius: 50%;
  padding: 1px 7px;
}
header nav ul li:hover {
  color: #29c722;
  border-bottom: 1px solid;
}

.header {
  background-color: rgba(211, 211, 211, 0.8588235294);
  position: sticky;
  top: 0;
}
.header > div:not(.collapse) > nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header input {
  height: 100%;
  padding: 0.375rem 0.75rem;
  background: #fff;
  border-radius: 0.375rem;
}
.header h1 {
  margin: 18px;
  cursor: pointer;
}
.header i {
  font-size: 32px;
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header ul li {
  cursor: pointer;
  padding: 9px 20px;
  text-align: center;
  color: #1d9818;
  font-weight: bold;
}
.header ul li .BoxNumber {
  color: red;
  border: 1px solid;
  border-radius: 50%;
  padding: 1px 7px;
}
.header ul li:hover {
  color: #29c722;
  border-bottom: 1px solid;
}

/* main */
.mainParent {
  height: 77%;
  background: rgba(0, 0, 0, 0.5019607843);
}
.mainParent > .modalDisBl {
  display: block;
}
.mainParent .modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
  height: 62vh;
}
.mainParent .modal-body .book {
  text-align: center;
  font-weight: bold;
  font-size: small;
  margin: 10px 20px;
  height: 300px;
  display: flex;
  width: 141px;
  flex-direction: column;
}
.mainParent .modal-body h3 {
  text-align: center;
}
.mainParent .search {
  background-color: rgba(211, 211, 211, 0.8588235294);
}
.mainParent .search .topicList {
  overflow: auto;
  height: 68vh;
}
.mainParent .search .topicList .topic {
  padding: 5px;
  margin: 5px;
  background: cornsilk;
  border-radius: 5px;
  cursor: pointer;
}
.mainParent .main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainParent .main h2 {
  text-align: center;
}
.mainParent .main .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  height: 70vh;
  overflow: auto;
}
.mainParent .main .book {
  text-align: center;
  font-weight: bold;
  font-size: small;
  margin: 10px 20px;
  height: 300px;
  display: flex;
  width: 141px;
  flex-direction: column;
}
.mainParent .main .book img {
  width: 100%;
  height: 100%;
}
.mainParent .main .book > .frame {
  height: 56%;
  flex: 4;
}
.mainParent .main .book > .about {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mainParent .main .book > .about > div {
  flex: 1;
}
.mainParent .main .book > .addBox {
  flex: 1;
}

/* footer */
.footer {
  background-color: rgba(211, 211, 211, 0.8588235294);
  text-align: center;
  padding: 17px;
  color: black;
}

@media (max-width: 992px) {
  header > nav {
    display: none;
  }
  header > i {
    display: block;
  }
  header > input {
    display: block !important;
  }
  .mainParent .main .book > .about {
    font-size: smaller;
  }
  .search {
    display: none;
  }
  .section {
    grid-template-columns: repeat(3, auto) !important;
  }
  .header > div:not(.collapse) > nav {
    display: none;
  }
}
@media (max-width: 320px) {
  header > * {
    padding: 13.5px;
  }
  .mainParent {
    height: 61%;
  }
}/*# sourceMappingURL=index.css.map */